:root{
    --bg-color: #f3efec;
    --text-color: #312a4e;
    --accent-color: #ffab6b;
    --main-font: Raleway, Arial, Helvetica, sans-serif;
    --accent-font: "STIX Two Text", Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    min-inline-size: 360px;
    margin: 0;
    background-color: var(--bg-color, #f3efec);
    color: var(--text-color, #312a4e);
    font-family: var(--main-font, Raleway, Arial, Helvetica, sans-serif);
}

.theme_dark {
    --bg-color: #171717;
    --text-color: #B3B3B3;
    --accent-color: transparent;
}

.heading{
  text-align: center;
  font-family: var(--accent-font);
  font-weight: 600;
  line-height: 0.9;
}

.content-section{
    padding: 0 5vi;
}

a:focus,
button:focus {
    outline: none;
}

a:focus-visible,
button:focus-visible {
    outline: 1px solid currentColor;
}

button:disabled {
    pointer-events: none;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
    margin: 0;
}

.header{
    padding-block-start: 10vi;
}

.header__title{
    font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
    margin-block-end: 40px;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    border-block: 1px solid var(--text-color);
}

.header__theme-toggler {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header__theme-button{
    font-size: 18px;
    font-family: inherit;
    color: currentColor;
    border: none;
    cursor: pointer;
    line-height: 1.04;
    background: none;
}

.header__theme-button:hover {
    text-decoration: underline;
}

.header__theme-button_is-active{
    position: relative;
    font-weight: 700;
}

.header__theme-button_is-active:hover{
    text-decoration: none;
}

.header__theme-button_is-active::after{
    content: '';
    position: absolute;
    inset-inline-end: -4px;
    inset-block-end: 3px;
    background-color: var(--accent-color);
    block-size: 0.5em;
    inline-size: calc(100% + 7px);
    z-index: -1;
}

.theme_dark .header__theme-button_is-active::after{
    background-image: url(../images/pattern.svg);
    background-size: 18%;
}

.content__title{
    font-size: 30px;
    margin-block-start: 7vi;
    margin-block-end: 2.5vi;
}

.content__text-block{
    font-size: 18px;
}

.content__text-block > .content__paragraph:not(:last-child){
    margin-block-end: 1.5em;
}

.content__blockquote{
    inline-size: 75%;
    font-style: italic;
    line-height: 2;
    margin-block-end: 1.5em;
    margin-inline: auto;
}

.content__paragraph-link{
    color: inherit;
}

.content__list{
    list-style: none;
    padding-inline-start: 40px;
}

.content__list-item{
    position: relative;
}

.content__list-item::before{
    content: '';
    display: inline-block;
    position: absolute;
    inset-inline-start: -25px;
    inset-block-start: 3px;
    block-size: 15px;
    inline-size: 15px;
    background-image: url(../images/marker-light.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.theme_dark .content__list-item::before{
    background-image: url(../images/marker-dark.svg);
}

.content__list-item:not(:last-child){
    margin-block-end: 10px;
}

.content__text-block_type_first-lettered > .content__paragraph:first-child:first-letter {
    background-color: var(--accent-color);
    font-size: 30px;
    font-weight: 700;
    padding: 0 4px;
    margin: 0 3px 0 0;
}

.theme_dark .content__text-block_type_first-lettered > .content__paragraph:first-child:first-letter {
    padding: 0 4px;
    margin: 0 3px 0 0;
    border: 1px solid var(--text-color);
}

.content__figure{
    margin-block: 7%;
    inline-size: calc(100% + 10vi);
    position: relative;
    inset-inline-start: -5vi;
}

.content__picture{
    inline-size: 100%;
}

.content__picture-caption{
    padding-block: 20px;
    text-align: center;
    border-bottom: 1px solid var(--text-color);
}

.content__card{
    margin-block-start: 7%;
    border: 1px solid var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4 / 3;
    padding-inline: 10%;
}

.content__card-title{
    font-size: 60px;
}

.content__card-subtitle{
    font-size: 18px;
    text-align: center;
}

.colored-text{
    position: relative;
}

.colored-text::after{
    content: '';
    inset-inline-end: -4px;
    inset-block-end: 0.5ch;
    background-color: var(--accent-color);
    block-size: 0.5ch;
    inline-size: calc(100% + 8px);
    position: absolute;
    z-index: -1;
}

.theme_dark .colored-text::after{
    background-image: url(../images/pattern.svg);
}

.footer{
    margin-block-start: 10%;
    padding: 2.5%;
    border-block-start: 1px solid currentColor;
}

.footer__copyright{
    text-align: center;
    font-size: 18px;
}